# Node modules
/node_modules/
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/
/build/

# Static export
/out/

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Testing
/coverage/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*    # catch all other .env variants

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
*.pem
